body {
    background-color: #f8f9fa; /* Cor de fundo */
}

.container {
    margin-top: 50px;
}

.task-grid {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    overflow: auto;
}

    .task-grid table {
        width: 100%;
        border-collapse: collapse;
    }

    .task-grid th,
    .task-grid td {
        border: 1px solid #dee2e6;
        padding: 8px;
        text-align: center;
    }

    .task-grid th {
        background-color: #343a40; /* Cor de fundo do cabeçalho */
        color: #ffffff; /* Cor do texto do cabeçalho */
    }

    .task-grid td:last-child {
        width: 150px; /* Ajuste para a coluna de botões */
    }

.button-container {
    margin-bottom: 20px;
    text-align: right;
}
